@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#wrap {
    width: 100%;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.75px;
}
.en {
    font-family: Helvetica, sans-serif;
}
h1 {
    font-size: 160px;
}
h2 {
    font-size: 119px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 40px;
}
h5 {
    font-size: 26px;
}
h6 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}

/* head*/

.heli h6 {
    font-family: Helvetica, sans-serif;
}
div[class^=uiaf] {
    font-family: Helvetica, sans-serif;
}