/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1269px) {
    
    #main, #footer, .util {
        visibility: hidden;
    }
    #header, .quick_menu {
        display: none;
        
    }
    {여기까지함
    
    
    }
    #header_m {
        background-color: aqua;
    }
    #header_m h1 {
        background: url('../images/logo.png') no-repeat center / contain;
        width: 210px;
        height: 42px;
        border: 1px solid #000;
        margin: 0 auto;
    }
    .menu_wrap_m {
        display: flex;
        justify-content: space-between;
        height: 110px;
        align-items: center;
    }



    .magnifer_m {
        position: absolute;
        right: 0;
    }
    .burger_m, .magnifer_m {
        display: block;
        
    }
    .burger_m img, .magnifer_m img {
        width: 42px;
        height: 42px;
    }
    #main .mainvisual {
        visibility: visible;
        width: 100%;
        margin-top: 15.7vh;
    }
    #main .mainvisual img {
        object-fit: cover;
        object-position: center;
    }
    ul.slick-dots {
        width: 10.02vw;
    }
    #main .slick-dots li button {
        width: 2.73vw;
    }
    #main .slick-dots li.slick-active {
        width: 5vw;
    }
        

    .mainvisual .slick-dots li {
        width: 1.5vw;
        height: 1.5vw;
    }
    .content {
        visibility: visible;
        
    }
    .inner {
        /* display: block; */
    }
    .inner_text {
        margin-left: 43px;
        
    }
    #main .content {
        padding: 0;
        margin-top: 13px;
    }
}