/*모바일*/
@media screen and (max-width: 767px) {
    .header_top {
        padding: 4% 2%;
    }

}
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 1269px) {
    
    .quick_menu {
        display: none;
    }
    #main, #footer, .util {
        visibility: hidden;
    }
    #header {
        max-width: 1269px;
        width: 100%;
        /* height: 198px; */
        
    }
    .header_top {
        overflow-y: hidden;
        max-width: 100%;
        border: 1px solid #000;
        box-shadow: none;
        height: auto;
        padding-top: 13.02vw;
        padding-bottom: 3.91vw;
        box-sizing: border-box;
    }
    .header_top_inner {
        width: 80.94vw;
        margin: 0 40px;
        height: 68px;
        /* margin: 0 auto;  */
        border: 1px solid aqua;
        position: relative;
    }
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
    #header h1 a {
        width: 200px;
        height: 60px;
    }
    ul.gnb {
            display: none;
    }
    .magnifer_m {
        position: absolute;
        right: 0;
    }
    .burger_m, .magnifer_m {
        display: block;
        
    }
    .burger_m img, .magnifer_m img {
        width: 30px;
        height: 30px;
    }
    #main .mainvisual {
        visibility: visible;
        width: 100%;
        border: 1px solid red;
        margin-top: 15.7vh;
    }
    #main .mainvisual img {
        object-fit: cover;
        object-position: center;
    }
    ul.slick-dots {
        width: 10.02vw;
    }
    #main .slick-dots li button {
        width: 2.73vw;
    }
    #main .slick-dots li.slick-active {
        width: 5vw;
    }
        

    .mainvisual .slick-dots li {
        width: 1.5vw;
        height: 1.5vw;
    }
    .content {
        visibility: visible;
        
    }
    .inner {
        /* display: block; */
    }
    .inner_text {
        margin-left: 43px;
        
    }
    #main .content {
        padding: 0;
        margin-top: 13px;
    }
}


/* pc */
@media screen and (min-width: 1630px) {
    
    /* 헤더 */
    .header_top_inner {
        width: 80.94vw;
    }
    ul.gnb li a {
        /* font-size: clamp(1.125rem, 0.3511rem + 0.7491vw, 1.25rem); */
        font-size: clamp(1.9rem, 0.94vw, 2rem);
    }
    ul.util a {
        font-size: clamp(1.5rem, 0.68vw, 1.6rem);
    }
    .header_drop_inner li a {
        font-size: clamp(1.6rem, 0.94vw, 1.8rem);
    }

    .board_index {
        margin-right: 1vw;
    } 
    .header_drop_inner li.morebg a {
        font-size: clamp(1.4rem, 0.78vw, 1.5rem);
    }
    .board_left {
        margin-left: 1.04vw;
    }
    .burger_m, .magnifer_m {
        display: none;
    }
    
    
    
}


/* mini pc ( 1270 ~ 1629) */
@media screen and (min-width: 1270px) and (max-width: 1629px) {
    .header_top {
        width: fit-content;
        margin: 0 auto;
    }
    .burger_m, .magnifer_m {
        display: none;
    }
    ul.util {
        width: 12vw;
    }
    .header_drop_inner li a  {
        font-size: clamp(1.4rem, 0.73vw, 1.5rem);
        letter-spacing: -1.4px;
        padding: 0.18vw 0px 0.3vw 0.52vw;
        /* font-size: clamp(1.6rem, 0.89vw, 1.7rem); */
        
    }
    ul.gnb li a {
        font-size: clamp(1.7rem, 0.94vw, 1.8rem);
    }
    ul.util a {
        font-size: clamp(1.4rem, 0.73vw, 1.5rem);
        
    }
    ul.util a img {
        width: 15px;
        height: 15px;
    }
    .more_btn {
        width: 11px; 
        height: 11px;
        top: 0.68vw;
        right: 0.52vw;
    }
    .move_top_btn {
        width: 2.08vw;
        height: 2.08vw;
        bottom: -18.7vh;
        
    }
    .move_top_btn img {
        width: 3.08vw;
        height: 3.13vw;
    }
        
        
    div[class^=quick0] span {
        /* font-size: 1.2rem; */
        font-size: 1.4rem;
    }
    .quick_menu {
        /* width: 6.5vw; */
        width: 6.3vw;
    }
    .news_title {
        font-size: clamp(1.8rem, 1.2vw, 2.2rem);
    }
    div[class^="title"] h2 {
        font-size: clamp(2.9rem, 2.08vw, 4.2rem);
    }
    a.all {
        font-size: clamp(1.5rem, 0.94vw, 1.9rem);
    }
    .board_index {
        margin-right: 2.9vw;
    }
    .board_right, .board_title, .board_index, #footer ul li a {
        font-size: clamp(1.4rem, 0.89vw, 1.7rem);
    }
    .ct1 .inner_text ul {
        font-size: clamp(1.9rem, 0.99vw, 2rem);
    }
    .title_mini span {
        font-size: clamp(1.2rem, 0.68vw, 1.4rem);
    }
    .board_left {
        margin-left: 0.7vw;
    }
    .header_drop_inner li.morebg a {
        font-size: 1.4rem;
    }
}