* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 5555px;
}
#wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1 {
    text-align: center;
}
h2 {
    margin-top: 40px;
    text-align: center;
}
.progressContainer {
    width: 1024px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
    margin: 0 auto;
}
.progress {
    width: 00%;
    height: 30px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
