.slick-loading .slick-list{
    background:#fff url(ajax-loader.gif) center center no-repeat
}
@font-face{
    font-family:slick;
    font-weight:400;
    font-style:normal;
    src:url(fonts/slick.eot);
    src:url(fonts/slick.eot?#iefix) format('embedded-opentype'),url(fonts/slick.woff) format('woff'),url(fonts/slick.ttf) format('truetype'),url(fonts/slick.svg#slick) format('svg')
}
.slick-next,.slick-prev{
    font-size:0;
    line-height:0;
    position:absolute;
    top:50%;
    display:block;
    width:20px;
    height:20px;
    padding:0;
    -webkit-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    transform:translate(0,-50%);
    cursor:pointer;
    color:transparent;
    border:none;
    outline:0;
    background:0 0
}
.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{
    color:transparent;
    outline:0;
    background:0 0
}
.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{
    opacity:1
}
.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{
    opacity:.25
}
.slick-next:before,.slick-prev:before{
    font-family:slick;
    font-size:20px;
    line-height:1;
    opacity:.75;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.slick-prev{
    left:-25px
}
[dir=rtl] .slick-prev{
    right:-25px;
    left:auto
}
.slick-prev:before{
    content:'←'
}
[dir=rtl] .slick-prev:before{
    content:'→'
}
.slick-next{
    right:-25px
}
[dir=rtl] .slick-next{
    right:auto;
    left:-25px
}
.slick-next:before{
    content:'→'
}
[dir=rtl] .slick-next:before{
    content:'←'
}


/* 메인(비쥬얼)슬라이더에 있는 dots */
ul.visual-dots {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex !important;
}
.visual-dots li {
    cursor:pointer;
}
.visual-dots li:last-child {
    margin: 0;
}

.visual-dots li button{
    width: 10px;
    height: 10px;
    font-size: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255, .35);
}
.visual-dots li.slick-active button:before{
    content: '';
    width: 30px;
    height: 10px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    display: block;
}
.visual-dots li.slick-active {
    margin-right: 25px;
}
.visual-dots li button[id*="slick-slide-control"] {
    margin-right: 15px;
}
