/* 레이아웃 */
.layout {
    width: 100%;
    max-width: 1900px;
    box-sizing: border-box;
    position: relative;
}
.layout > div {
    position: absolute;
    box-sizing: border-box;
}
.leftmenu {
    min-width: 250px;
    height: 1000px;
    /*border: 2px solid orange;*/
}
.centermenu {
    min-width: 1130px;
    height: 1000px;
    left: 270px;
    /*border: 2px solid yellow;*/
}
.rightmenu {
    min-width: 460px;
    height: 1000px;
    left: 1420px;
    /*border: 2px solid green;*/
}