@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@300;400&display=swap');
* {
    margin:0; 
    padding:0;
    list-style:none;
    text-decoration: none;
}
main {
    width: 100%;
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
}
h1 {
    font-family: 'Homemade Apple', cursive;
}
p {
    font-family: 'Montserrat', sans-serif;
}
/* 1번, 3번 가로레이아웃 */
.sec1 > .row,
.sec3 > .row {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sec1 .txt,
.sec3 .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.visual {
    width: 50%;
}
.sec1 .visual {
    background: url('images/us1.jpg') no-repeat center / cover;
}
.sec3 .visual {
    background: url('images/us3.jpg') no-repeat center / cover;
}

/*2번 섹션 스타일*/
.sec2 {
    background: url('images/us2.jpg') no-repeat center / cover;
    color: #fff;
}
.sec2 div {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
