@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#header a {
    color: #1C1C1C;
    margin-bottom: -4px;
}
body, button {
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 100%;
    font-weight: 500;
    background-color: #fff;
    position: relative;
}
.header {
    position: relative;
}

/* 레이아웃 */
#header {
    /* border: 1px solid blue; */
    width: 1114px;
    margin: 0 auto;
} 

/* 상단 로고 */
.header_inner > h1 > a {
    display: block;
    background: url('./images/greeting/logo.png') no-repeat;
    width: 220px;
    height: 39px;
    margin: 11px auto 0;
    text-indent: -9999px;
}
nav.user-area {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
}
ul.user-area_menu {
    /* border: 1px solid red; */
    display: flex;
    width: 400px;
    justify-content: space-between;
    position: absolute;
    top: 11px;
    right: 0;
}
ul.user-area_menu li {
    font-size: 14px;
    text-align: center;
}
ul.user-area_menu li:last-child::after {
    content: '';
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    display: inline-block;
    margin-left: 2px;
}
.header_inner h1 {
    /* border: 1px solid #000; */
    padding-top: 42px;
    padding-bottom: 35px;
}
.all > a {
    border: 1px solid red;
}
.all-menu_inner {
    /* background-color: slateblue; */
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: space-between;
}
.all-menu_inner ul {
    margin: 0 329px 0 16px;
}
.all-menu_inner > a > span {
    display: block;
    background-color: #928C00;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    padding: 3px 7px;
}
.burger_icon span {
    display: block;
    width: 26px;
    height: 3px;
    background-color: #212121;
    margin-bottom: 6px;
}
.all-menu_inner ul {
    /* background-color: antiquewhite; */
    width: 670px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}
.all-menu_inner a.cart {
    position: relative;
}
.all-menu_inner a.cart span {
    position: absolute;
    bottom: 20px;
    left: 17px;
}

/* mainvisual */
.mainvisual {
    width: 100%;
}
.mainvisual a img {
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid #000; */
}

/* 섹션 1 */
section.sec1 {
    margin: 150px auto 150px;
    width: 1150px;
}
p.subscribe-desc {
    color: #888888;
    font-size: 21px;
    line-height: 30px;
    font-weight: 500;
}
a > h2.subscribe-title {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 32px;
}
ul.meals_banner {
    display: flex;
    /* border: 1px solid #000; */
    width: 1115px;
}
section.sec1 
.subscribe {
    margin-bottom: 13px;
}
ul.meals_banner li {
    margin-right: 21px;
}
ul.meals_banner li img {
    width: 547px;
    height: 416px;
}
ul.meals_banner 
.meals_banner-bottom {
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-top: -10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p.meals_banner-desc {
    color: #E17D26;
    font-weight: 500;
    font-size: 21px;
    line-height: 30px;
}
h4.meals_banner-title {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
}
.meals_banner-btn button {
    border: 1px solid #EFEFEF;
    border-radius: 20px;
    background-color: #EFEFEF;
    color: #1C1C1C;
    font-weight: 500;
    padding: 7px;
    font-size: 18px;
}
.meals_banner-bottom 
p.believe {
    color: #53A5E0;
}

/* sec2 */
section.sec2 {
    background-color: #EFEFEF;
    padding: 50px 401px 50px 406px;
}
.sec2-all {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid #000; */
}
.sec2-all a img {
    width: 640px;
    height: 360px;
}
.tv-area h3 {
    display: flex;
    align-items: center;
}
.tv-area h3 a {
    display: block;
    border: 1px solid #DADADA;
    border-radius: 50%;
    width: 89px;
    height: 89px;
    /* box-sizing: border-box; */
    background: url('./images/greeting/logo.png') no-repeat;
    background-color: #fff;
    background-size: 76px;
    background-position: center;
    margin-right: 9px;
}
.tv-area h3 p {
    font-weight: 700;
    font-size: 32px;
}
.tv-area dl dt {
    color: #000000;
    font-weight: 700;
    font-size: 23px;
    margin-top: 27px;
}
.tv-area dl dd {
    font-size: 21px;
    color: #888888;
    font-weight: 500;
    line-height: 33px;
    margin-top: 9px;
    margin-bottom: 103px;
}
.tv-area a p {
    background-color: #D2211F;
    color: #FFFFFF;
    width: 387px;
    height: 48px;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    line-height: 48px;
}

/* footer */
footer {
    background-color: #ffffff;
    padding: 50px 401px 50px 406px;
}
.footer_inner {
    display: flex;
}
footer ul.item {
    display: flex;
    width: 491px;
    justify-content: space-between;
    margin-bottom: 32px;
}
footer ul.item li a {
    color: #1C1C1C;
    font-size: 17px;
    font-weight: 500;
    padding-right: 15px;
}
footer ul.item li::after {
    content: '';
    border-right: 1px solid #cccccc;
    height: 18px;
}
footer ul.item 
li:last-child::after {
    content: none;
}
ul.sns-box {
    display: flex;
}
ul.sns-box li {
    margin-right: 23px;
}
.footer_left {
    margin-right: 98px;
}
.support {
    margin-bottom: 47px;
}
.support p.tel {
    color: #918C00;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
}
strong {
    color: #1C1C1C;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
}
p.footer_text {
    color: #888888;
    font-weight: 500;
}
.company_info p {
    font-size: 15px;
    letter-spacing: -0.48px;
    line-height: 27px;
}
.company_info p:first-child {
    margin-bottom: 10px;
    margin-top: 6px;
}
.support > p {
    font-size: 16px;
    line-height: 29px;
}
.support p a {
    color: #000;
}
.copyright {
    margin-top: 39px;
    color: #888888;
    font-weight: 500;
    font-size: 15px;
}
.company_info {
    width: 602px;
}
.footer_right .company {
    /* border: 1px solid #000; */
    margin-top: 50px;
}



