/* 온리투데이 */

ul.onlyitemwrap .thbg1 {
    width: 270px;
    height: 270px;
    background: url('./images/06only/th1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}
ul.onlyitemwrap .thbg2 {
    width: 270px;
    height: 270px;
    background: url('./images/06only/th2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
ul.onlyitemwrap .thbg3 {
    width: 270px;
    height: 270px;
    background: url('./images/06only/th3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
ul.onlyitemwrap .thbg4 {
    width: 270px;
    height: 270px;
    background: url('./images/06only/th4.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/* 랭킹 차트 */
ul.rankitemwrap .thbg1 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/1.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg2 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/2.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg3 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/3.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg4 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/4.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg5 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/5.gif');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg6 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/6.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg7 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/7.jpg');
    background-size: cover;
    background-position: center;
}
ul.rankitemwrap .thbg8 {
    width: 270px;
    height: 270px;
    background: url('./images/07rank/8.jpg');
    background-size: cover;
    background-position: center;
}

/* 쇼핑찬스 */
.chance .thbg1 {
    width: 300px;
    height: 300px;
    background: url('./images/09chance/1.jpg');
    background-size: cover;
    background-position: center;
}
.chance .thbg2 {
    width: 300px;
    height: 300px;
    background: url('./images/09chance/2.jpg');
    background-size: cover;
    background-position: center;
}
.chance .thbg3 {
    width: 300px;
    height: 300px;
    background: url('./images/09chance/3.jpg');
    background-size: cover;
    background-position: center;
}
.chance .thbg4 {
    width: 300px;
    height: 300px;
    background: url('./images/09chance/4.jpg');
    background-size: cover;
    background-position: center;
}
