/* 미디어 쿼리 */

/* 타블렛 사이즈 601 ~ 1024 구간 */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* 최소 601 : min-width (minimum width)
    최대 1024 : max-width (maximum width) */

    .burger {
        display: block;
    }
    header nav ul {
        display: none;
    }
    header > a.logo {
        border: none;
    }
    header h1 {
        left: 30px;
        top: 16.5px;
        transform: translate(0, 0);
    }
    li.item {
        width: 50%;
    }
}

/* 모바일사이즈 600px 미만 구간 */
@media screen and (max-width: 600px){
    .burger {
        display: block;
    }
    header nav ul {
        display: none;
    }
    header > a.logo {
        border: none;
    }
    header h1 {
        transform: translate(0, 0);
        left: 30px;
        top: 21px;
        width: 100px;
        height: 18px;
    }
    li.item {
        width: 100%;
    }
    footer a {
        display: block;
        line-height: normal;
        margin: 10px 0;
    }
    footer {
        height: inherit;
        padding: 10px 0;
    }
    .texts {
        padding: 35px;
        height: inherit;
    }
}